In [2]:
#!/usr/bin/python
import MySQLdb as my


import xml.dom.minidom as dm
xt1=dm.parse("book.xml")
doc_ele=xt1.documentElement
bn=doc_ele.childNodes
print bn[0].nodeType
print bn[1].nodeType
print "****"
print doc_ele.tagName

atrs=[];titl=[];athr=[];yr=[];prc=[];

books=doc_ele.getElementsByTagName("book")
for book in books:
	for k in bn[1].attributes.keys():
		#atrs.append(bn[1].attributes[k].value)	
		print bn[1].attributes[k].name,bn[1].attributes[k].value 
	titles=book.getElementsByTagName('title')
	for title in titles:
		for rn in title.childNodes:
			titl.append(rn.data)
			print rn.parentNode.tagName,":",rn.data
	titles=book.getElementsByTagName('author')
	for title in titles:
		for rn in title.childNodes:
			athr.append(rn.data)
			print rn.parentNode.tagName,":",rn.data
	titles=book.getElementsByTagName('year')
	for title in titles:
		for rn in title.childNodes:
			yr.append(rn.data)
			print rn.parentNode.tagName,":",rn.data
	titles=book.getElementsByTagName('price')
	for title in titles:
		for rn in title.childNodes:
			prc.append(rn.data)
			print rn.parentNode.tagName,":",rn.data
print titl
print athr
print yr
print prc

con=my.connect('127.0.0.1','root','9922688587m','sw200')
cur=con.cursor()
querry1=""" create table bda_bk_15(No varchar(10),title varchar(50),author varchar(20),year varchar(50),price varchar(50)) """
cur.execute(querry1)
#drop_querry="""drop table bda_bk_15"""
#cur.execute(drop_querry)
for i in range(len(titl)):
	querry2="""insert into bda_bk_15 (No,title,author,year,price) values(%s,%s,%s,%s,%s)"""
	cur.execute(querry2,(i,titl[i],athr[i],yr[i],prc[i]))
	con.commit()

3
1
****
itbooks
category python
title : Think Python
author : A B Downey
year : 2015
price : 300
category python
title : Def Guide
author : Tom White
year : 2015
price : 900
category python
title : Let us cpp
author : Y Kenetkar
year : 2010
price : 349
category python
title : Design of Unix OS
author : M J Bach
year : 2003
price : 839
[u'Think Python', u'Def Guide', u'Let us cpp', u'Design of Unix OS']
[u'A B Downey', u'Tom White', u'Y Kenetkar', u'M J Bach']
[u'2015', u'2015', u'2010', u'2003']
[u'300', u'900', u'349', u'839']